container_commands:
    01_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    WSGIPassAuthorization:
        command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
        cwd: /opt/elasticbeanstalk/hooks
    #03_update_apache:
    #    command: "sh update-apache.sh"